<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Birthdays</title>
    </head>
    <body>
        <div class="header">
            <h1>Birthdays</h1>
        </div>
        <div class="container">
            <div class="section">

                <h2>Add a Birthday</h2>
                <!-- form to get inputs to submit to database -->
                <h3>
                    <form action="/" method="post">
                        <input autocomplete="off" placeholder="name" autofocus name="name" required type="text">
                        <input autocomplete="off" placeholder="day" name="day" required type="number">
                        <input autocomplete="off" placeholder="month" name="month" required type="number">
                        <button type="submit">Submit!</button>
                    </form>
                </h3>
            </div>

            <div class="section">

                <h2>All Birthdays</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Birthday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Loop to check print all birthdays in the db -->
                        {% for birthday in birthdays %}
                            <tr>
                                <td>{{ birthday.name }}</td>
                                <td>{{ birthday.day }}/{{ birthday.month }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
